/* Add your own styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ede8f5;
}

header {
    background-color: #3D52A0;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 600; 
}

/* Form Container */
#controls {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label */
label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

/* Input field */
input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input[type="search"]:focus {
    border-color: #657dc2;
}

/* Button */
button {
    background-color: #657dc2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3D52A0;
}

/* Result */
#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    font-family: 'Arial', sans-serif;
    
}

/* Table header */
thead {
    background-color: #3D52A0;
    color: white;
    text-align: left; 
}


th {
    padding: 12px; 
}


tbody {
    background-color: #f9f9f9;
}

/* Table row */
tr:nth-child(even) {
    background-color: #f2f2f2; 
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}


